<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"></meta>
<!-- 	<meta name="user" content="${user.id}${user.name}"></meta> -->
	<title>index</title>
	<!--<script src="statics/js/jquery-3.2.1.min.js"></script>-->
	<link rel="stylesheet" type="text/css" href="../statics/css/index.css" />
	<script src="../statics/js/testAjax.js"></script>

</head>
<body>
    <h1>this is index</h1>
    <p>测试从model获取属性</p>
    <span th:text="${user.id}"></span><br/>
    <span th:text="${user.userName}"></span>
    <p>后台使用@ModelAttribute绑定表单提交的数据</p>
    <form action="post_urlencoded" method="post" id="userform">
        <label class="label">id：</label><input type="text" name="id"></input><br/>
        <label class="label">userName：</label><input type="text" name="userName"></input><br/><br/>
        <input type="submit" value="submit"></input>
    </form>
    <br/>
    <span id="msg1"></span>
    <br/>
    <label class="label">method:</label>
	<select id="method">
		<option value="GET">GET</option>
		<option value="POST">POST</option>
	</select>
	<br/>
	<label class="label">url:</label>
	<select id="url">
		<option value="post_urlencoded">post_urlencoded</option>
		<option value="post_json">post_json</option>
		<option value="get_urlencoded_url">get_urlencoded_url</option><br/>
		<option value="get_urlencoded_body">get_urlencoded_body</option>
		<option value="get_json_body">get_json_body</option>
	</select>
	<br/>
	<label class="label">enctype:</label>
	<select id="enctype">
		<option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
		<option value="application/json">application/json</option>
	</select><br/><br/>
    <button onclick="textAjax()">testajax</button><br/>
    <span id="ajaxmsg"></span>
    <hr>
    <h3>测试@ModelAttribute</h3>
    <form action="modattr2/test" method="post" id="userform2">
        <label class="label">id：</label><input type="text" name="id"></input><br/>
        <label class="label">userName：</label><input type="text" name="userName"></input><br/>
        <label class="label">age：</label><input type="text" name="age"></input><br/><br/>
        <input type="submit" value="submit"></input>
    </form>
    <br/>
    <a href="http://localhost/modattr3/test1?parm=aa&parm1=bb&parm2=cc">测试</a>
    <a href="http://localhost/modattr3/index2?parm=aa&parm1=bb&parm2=cc">测试从index2获取model属性</a>
    <br/>
    <span th:text="${mod1}"></span><br/>
    <span th:text="${mod2}"></span><br/>
    <span th:text="${string}"></span>
</body>
</html>