<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"></meta>
<!-- 	<meta name="user" content="${user.id}${user.name}"></meta> -->
	<title>index</title>
	<!--<script src="statics/js/jquery-3.2.1.min.js"></script>-->
	<link rel="stylesheet" type="text/css" href="../statics/css/index.css" />
	<script src="../statics/js/testAjax.js"></script>

</head>
<body>
    <h3>this is index</h3><hr>
    
    <table>
    <tr>
    <td class="tdline" style="border-width:0px 1px 1px 0px;">
    <p>测试从model获取属性</p>
    <span th:text="${user.id}"></span>
    <span th:text="${user.userName}"></span>
    <span th:text="${user.age}"></span>
    <span th:text="${user.birth}"></span>
    <hr>
    
    <p>测试GetAndPostController</p>
    <form action="getandpost/post_urlencoded_body" method="post" id="userform">
        <label class="label">id：</label><input type="text" name="id" id="userid"></input><br/>
        <label class="label">userName：</label><input type="text" name="userName" id="username"></input></br>
        <label class="label">age：</label><input type="text" name="age" id="userage"></input></br>
        <label class="label">birth：</label><input type="text" name="birth" id="userbirth"></input></br>
        <input type="submit" value="表单提交"></input>
    </form><br/>
	<label class="label">url:</label>
	<select id="url">
		<option value="get_url">get_url</option><br/>
		<option value="get_urlencoded_body">get_urlencoded_body</option>
		<option value="get_json_body">get_json_body</option>
		<option value="post_url">post_url</option>
		<option value="post_urlencoded_body">post_urlencoded</option>
		<option value="post_json_body">post_json</option>
	</select>
	<br/>
    <button onclick="testGetAndPostController()">ajax提交</button><br/>
    <span id="GetAndPostMsg"></span>
    <hr>
    
    <p>测试ParmController</p>
    <label class="label">id：</label><input type="text" id="userid_parm"></input><br/>
    <label class="label">userName：</label><input type="text" id="username_parm"></input></br>
    <label class="label">age：</label><input type="text" id="userage_parm"></input></br>
    <label class="label">birth：</label><input type="text" id="userbirth_parm"></input></br>
    <select id="method_parm">
		<option value="GET">GET</option><br/>
		<option value="POST">POST</option>
	</select>
	<select id="content_type_parm">
		<option value="application/x-www-form-urlencoded">urlencoded</option><br/>
		<option value="application/json">application/json</option>
	</select>
	<select id="parmPosition_parm">
		<option value="url">url</option><br/>
		<option value="body">requestBody</option>
	</select>
    <select id="url_parm">
		<option value="find_name">find_name</option><br/>
		<option value="find_name_age">find_name_age</option>
		<option value="recive_json">recive_json</option>
	</select>
    <button onclick="testParmController()">提交</button><br/>
    <span id="ParmMsg"></span>
    <hr>
    </td>
    
    <td>
    <p>测试@ModelAttribute</p>
    <form action="modattr2/test" method="post" id="userform2">
        <label class="label">id：</label><input type="text" name="id"></input><br/>
        <label class="label">userName：</label><input type="text" name="userName"></input><br/>
        <label class="label">age：</label><input type="text" name="age"></input><br/><br/>
        <input type="submit" value="submit"></input>
    </form>
    <br/>
    <a href="http://localhost/modattr3/test1?parm=aa&parm1=bb&parm2=cc">测试</a>
    <a href="http://localhost/modattr3/index2?parm=aa&parm1=bb&parm2=cc">测试从index2获取model属性</a>
    <br/>
    <span th:text="${mod1}"></span><br/>
    <span th:text="${mod2}"></span><br/>
    <span th:text="${string}"></span>
    </td>
    </tr>
    
    <tr>
    <td>
    <p>测试跨域请求</p>
    <a href="https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Access_control_CORS">参考文档：MDN跨域资源共享(CORS) </a></br>
    <span>(测试前需要配置127.0.0.1 localhost2的域名映射，并启动第二个实例，端口=81)</span></br>
    <span>跨域的图片：</span><img src="http://localhost2:81/statics/img/delisha.jpg"></br>
    <button onclick="testHead_CROS()">ajax自定义头部</button>
    <span>("mykey": "myvalue")</span>
    <br/>
	<button onclick="testMethod_CROS()">ajax特殊请求方法</button>
	<select id="method_select_CROS">
		<option value="GET">GET</option><br/>
		<option value="HEAD">HEAD</option>
		<option value="POST">POST</option>
		<option value="DELETE">DELETE</option>
	</select><br/>
	<button onclick="testContenType_CROS()">ajax特殊请求类型</button>
	<select id="contentType_select_CROS">
		<option value="text/plain">text/plain</option><br/>
		<option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
		<option value="multipart/form-data">multipart/form-data</option>
	</select><br/>
	<span id="msg_CROS"></span></br>
    </td>
    
    <td class="tdline" style="border-width:1px 0px 0px 1px;">
    <p>空白区域</p>
	</td>
	</tr>
	    
    
    <script type=>
    	defaultData();	//放到最后，否则无法加载元素
    </script>
</body>
</html>